@model GymManager.ViewModels.IndexShopViewModel

<table class="table">
     <tbody>
         <tr>
             <td style="text-align:center;font-weight600;font-size:18px;padding:25px 0">@Model.Name</td>
         </tr>    
         <tr>
             <td style="text-align:center">
                 <img src="@Model.ImagePath" style="width:100px" />
             </td>
         </tr>
         <tr><td style="text-align:center">@Model.Price din</td></tr>
         <tr>
             <td style="text-align:center">
                 @Html.ActionLink("Buy", "BuyForm", "Shop", new { Id = Model.Id }, new { @class = "btn btn-primary" })
             </td>
         </tr>
     </tbody>
</table>